.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

.web_title {
    font-size: 33px;
}

.topnav_item {
    font-size: 22px;
}

.menu_icon {
    display: none;
    cursor: pointer;
}

.sidenav_content {
    display: flex;
    gap: 30px;
}

.close_icon{
    display: none;
}

@media screen and (max-width: 800px) {
    .topnav {
        padding: 20px 5%;
    }
    .web_title {
        font-size: 25px;
    }
    .menu_icon {
        display: block;
    }
    .sidenav {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 250px;
        background-color: rgba(0, 0, 0, .9);
        z-index: 1000;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
        transform: translateX(100%);
    }

    .sidenav_content {
        padding: 20px;
        display: block;
    }

    .sidenav.show {
        transform: translateX(0%);
    }
    
    .close_icon {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        color: #fff;
    }
    .topnav_item {
        font-size: 18px;
        margin: 27% 20px;
        color: white;
        font-weight: 600;
        text-align: center;
    }
}
