.home-page{
    height: 100vh;
    overflow-y: scroll;
    background: linear-gradient(135deg, #092301 0%, #010e37 50%, #550241 100%);
}

.home-page.light{
    background: white;
    color: rgb(34, 34, 34);
}

.home-page.dark{
    background: rgb(0, 0, 0);
    color: white;
}

.main_content{
    display: flex;
    align-items: center;
    padding: 0 10%;
    min-height: 100vh;
}

.profile-info{
    width: 50%;
}

.profile-info h1{
    font-weight: 800;
    font-size: 60px;
}

.hire_me_btn, .contact_me_btn{
    background-color: transparent;
    border: 2px solid rgb(7, 158, 233);
    padding: 15px 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.typewriter-wrapper {
    font-weight: 800;
    font-size: 50px;
    color: #0c78d0; /* Example color */
}

.typewriter-cursor {
    font-weight: 800;
    font-size: 55px;
    color: #d81111; /* Example color */
}

.social_media{
    display: flex;
    gap: 30px;
    margin: 30px 0;
}

.media_item{
    width: 50px;
    height: 50px;
    box-shadow: 1px 1px 2px 2px #0c78d0 ;
    border-radius: 100%;
    display: flex;
    justify-content: center;    
    align-items: center;
}

.image_cont{
    width: 50%;
    display: flex;
    justify-content: center;
}

.image_cont img{
    width: 70%;
    border-radius: 100%;
    box-shadow: 10px 6px 4px 4px #0c78d0;
    display: flex;
    justify-content: center;
    transition: 2s;
    animation: 5s roll linear; 
}

.image_cont img:hover{
    box-shadow: 0px 0px 15px 15px #0c78d0;
}

.portfolio{
    padding: 30px 10%;
}


@keyframes roll {
    0% {
        transform: rotate(0deg) translateX(100%);
    }
    100% {
        transform: rotate(360deg);
    }
}

.portfolio_container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
    gap: 40px 60px;
}
.portfolio .drop{
    position: relative;
    height: 350px; 
    width: 350px;
    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),
    25px 35px 20px rgba(0, 0, 0, 0.05),
    25px 30px 30px rgba(0, 0, 0, 0.05),
    inset -20px -20px 25px rgba(255, 255, 255, 0.9);
    transition: 0.5s ease-in-out;
    animation: 5s bubbleChange linear infinite alternate-reverse;
    border-radius: 57% 43% 43% 57% / 43% 43% 57% 57%;
}

@keyframes bubbleChange {
    0% {
        border-radius: 57% 43% 43% 57% / 43% 43% 57% 57%;
        transform: scale(0.9);
    }
    50%{
        border-radius: 23% 43% 57% 57% / 57% 43% 43% 57% 
    }
    100% {
        border-radius: 57% 43% 43% 57% / 43% 43% 57% 57%;

    }
}


.portfolio .drop:hover{
    border-radius: 50%;
}

.portfolio .drop::after{
    content: '';
    position: absolute;
    top: 50px;
    left: 85px;
    width: 25px;
    height: 25px;
    box-shadow: 0px 0px 3px 3px #c8f1f2;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
    opacity: 0.9;
}

.portfolio .drop .content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 40px;
    gap: 15px;
}

.portfolio .drop .content a{
    padding: 10px 10px;
    border-radius: 30px;
    background: linear-gradient(#010e37, #0c78d0);
    color: white;
}

@media screen and (max-width: 800px){
    .main_content{
        display: block;
        padding: 0 5%;
    }
    
    .profile-info{
        width: 100%;
    }
    

    .profile-info h1{
        font-size: 42px;
    }

    .hire_me_btn, .contact_me_btn{
        padding: 10px 20px;
    }

    .typewriter-wrapper {
        font-size: 30px;
    }

    .typewriter-cursor {
        font-size: 30px;
    }

    .social_media{
        gap: 20px;
    }
    
    .media_item{
        width: 40px;
        height: 40px;
    }


    .image_cont{
        width: 100%;
       
        margin-top: 25%;
    }

    .image_cont img{
        width: 90%;
    }
    .portfolio .drop{
        width: '300px';
        height: '300px';
    }
    
}